body {
    background: #e4ff00;
    background: linear-gradient(180deg, #e4ff00 0%, #d300ff 80%);
}

h1 {
    text-align: center;
    text-shadow: 3px 0px 17px rgba(0, 0, 0, 2);
    font-family: 'Orbitron', sans-serif;
}

h4 {
    text-align: center;
    text-decoration-line: underline;
}

h3 {
    text-align: center;
    font-size: 20px;
}

li {
    text-align: justify;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#foto {
    border: ridge;
    border-radius: 3px;
    border-color: gold;
    border-width: 10px;
    float: left;
    margin-right: 9px;
    box-shadow: 10px 10px 72px 0px rgba(0, 0, 0, 0.75);
}

.datos {
    background-color: coral;
    height: auto;
    width: 300px;
    float: left;
    border: dashed;
    text-align: center;
    margin-top: 50px;
}

.dat {
    font-size: 20px;
}

.listas {
    background-color: aqua;
    height: 160px;
    width: 270px;
    float: left;
    border: dashed;
    text-align: justify;
    margin-top: 10px;
}

#perfil {
    background-color: rgb(113, 202, 218);
    height: 150px;
    width: 650px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 6px;
    float: left;
    text-align: center;
    border: double;
    border-width: 7px;
}

#contacto {
    background-color: rgb(172, 107, 232);
    margin-top: 50px;
    margin-left: 350px;
    padding: 5px;
    height: max-content;
    width: max-content;
    border: 8px ridge rgb(172, 107, 232);
}

a {
    text-decoration: none;
}